.agents
.changeset
.vscode
logs
src
node_modules
.gitignore
.env
AGENTS.md
opencode.json
.prettierignore
.prettierrc.cjs
vite.config.ts
vitest.config.ts
eslint.config.js
pnpm-lock.yaml
tsconfig.json
test-results
*.sketch
.eslintcache